*{
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  box-sizing: border-box;
}
html,body{
  width: 100%;
  height: 100%;
}
#main{
  width: 100%;
  min-height: 100vh;

}
.top{
  width: 100%;
  min-height: 60vh;
  background-image: url(https://www.hdwallpapers.in/download/trees_forest_blue_starry_sky_reflection_river_anime_nature_hd_anime-2560x1440.jpg);
  background-size: cover;
  background-position: center;
}
.top .overlay{
  position: relative;
  width: 100%;
  min-height: inherit;
  background-color: rgba(0, 0, 0, 0.296);

}
.text{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position:absolute;
  width: 100%;
  width: 0 10vh;
  color: white;
  bottom: 5%;
  
}
.text h1{
  font-weight: 600;
  font-size: 4vw;
}
.text .image{
  background-image: url(https://i.guim.co.uk/img/media/7aac02568dff101b25c1c774b7c03601134a5558/0_187_5616_3370/master/5616.jpg?width=1200&height=1200&quality=85&auto=format&fit=crop&s=09beacebda75b99b0c110712bd913d2a);
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 220px;
}
.rtext{
  display: flex;
  width: 25%;
  align-items: center;
  justify-content: space-between;

}
.rtext p{
  font-size: 12px;
}
.bottom{
  display: flex;
  width: 100%;
  min-height: 40vh;

}
.b1{
width: 30%;
min-height: inherit;
background-image: url(https://cdn.pixabay.com/photo/2017/03/08/15/01/chicago-2126984_640.jpg);
background-size: cover;
background-position: center;
}
.b1 h1{
  text-align: center;
  padding: 30px;
}
.b1 p{
  color: white;
  text-align: center;
  padding: 15px;

}
.b2{
  width:30%;
  min-height: inherit;
  display: flex;
  flex-direction: column;
}
.b2 .up{
  width: 100%;
  min-height: 20vh;
  background-image: url(https://lh3.googleusercontent.com/46Un1jM5j66XE1SONfjt8lvKKNr4Z4jba7Amcp1y3CP4nF0Ds-COKYZP0hp075hNpUAyG1xFu8pd6_Mx9g6i3hnZmA=w640-h400-e365-rj-sc0x00ffffff);
  background-size: cover;
  background-position: center;
}
.b2 .up h1{
text-align: center;
padding: 30px;
}
.b2 .up p{
  color: white;
  text-align: center;
  padding: 15px;
}
.b2 .down{
  width: 100%;
  min-height: 20vh;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTrEGDtDdFkthzjBqVxg2S_DuLN1dxFMDkDKgbcibz0jQ&s);
  background-size: cover;
  background-position: center;
}
.b2 .down .overlay{
  position: relative;
  width: 100%;
  min-height: 20vh;
  background-color: rgba(255, 255, 255, 0.362);
  

}
.b3{
  width: 40%;
  min-height: inherit;
  background-image: url(https://media.istockphoto.com/id/509310280/vector/sour-cream-isolated-on-blue-background.jpg?s=612x612&w=0&k=20&c=BpNxXtFUKPGsDtkRbsToECuGJZ5O7KP443MZ_2VAdsc=);
  background-size: cover;
  background-position: center;

}
.b3.overlay{
  justify-content: right;
  position: relative;
  margin-left: 50%;
  width: 50%;
  height: 100%;
  padding: 4vh 3vh;
}
.b3 .overlay p{
  padding: 1.2vh;

}
@media(max-width:700px){
  .rtext{
    flex-direction: column;
  }
  .b3 .overlay{
    width: 100%;
    margin-left:initial
  }
}
@media(max-width:500px){
  .text{
    flex-direction: column;
    align-items: flex-start;
  }
  .text h1{
    font-size: 5vh;

  }
  .text .image{
    height: 200px;
    width: 140px;
    margin-top: 20px;
  }
  .rtext {
    flex-direction: column;
    align-items: flex-start;

  }
  .rtext p{
    margin-top: 10px;
  }
  .icons{
    margin-top: 10px;

  }
  .bottom{
    flex-direction: column;
    align-items: flex-start;
  }
  .b1{
    width: 100%;
    min-height: 30vh;
  }
  .b2{
    width: 100%;

  }
  .b2 .up{
    min-height: 30vh;

  }
  .b3{
    width: 100%;
    min-height: 30vh;
    background-position: left;
  }
}